<section class="looks-trust" data-section-id="{{ section.id }}">
  <div class="looks-trust__inner">
    {%- for block in section.blocks -%}
      <div class="looks-trust__item" {{ block.shopify_attributes }}>
        <div class="looks-trust__icon">
          {%- case block.settings.icon -%}
            {%- when 'shipping' -%}
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></svg>
            {%- when 'guarantee' -%}
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/></svg>
            {%- when 'fragrance' -%}
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>
            {%- when 'science' -%}
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><polyline points="20 6 9 17 4 12"/></svg>
            {%- else -%}
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><polyline points="20 6 9 17 4 12"/></svg>
          {%- endcase -%}
        </div>
        <span>{{ block.settings.text }}</span>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Looks: Trust Bar",
  "class": "looks-section",
  "blocks": [
    {
      "type": "trust_item",
      "name": "Trust item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Free Shipping"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            { "value": "shipping", "label": "Eye" },
            { "value": "guarantee", "label": "Shield" },
            { "value": "fragrance", "label": "Heart" },
            { "value": "science", "label": "Checkmark" }
          ],
          "default": "science"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Looks: Trust Bar",
      "blocks": [
        { "type": "trust_item", "settings": { "text": "Free Shipping", "icon": "shipping" } },
        { "type": "trust_item", "settings": { "text": "30-Day Guarantee", "icon": "guarantee" } },
        { "type": "trust_item", "settings": { "text": "Fragrance-Free", "icon": "fragrance" } },
        { "type": "trust_item", "settings": { "text": "Science-Backed", "icon": "science" } }
      ]
    }
  ]
}
{% endschema %}
